/* @import url('./modules/_common.css');
@import url('./modules/_header.css');
@import url('./modules/_hero.css');
@import url('./modules/_contents.css');
@import url('./modules/_mainBar.css');
@import url('./modules/_mainProduct.css');
@import url('./modules/_mainCaption.css');
@import url('./modules/_mainContent.css');
@import url('./modules/_mainShop.css');
@import url('./modules/_footer.css');
@import url('./modules/_utils.css');
@import url('./modules/_jQuery.css'); */

@media screen and (min-width: 576px){
  .l-mainBar__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 540px;
  }

  .l-mainBar__download{
    width: 100%;
    max-width: 50%;
  }

  .l-mainBar__news{
    width: 100%;
    max-width: 50%;
  }
}

@media screen and (max-width: 576px){
  .l-header__wrapper{
    align-items: unset;
  }

  .c-headerList__item{
    vertical-align: top;
  }

  .l-main{
    margin-bottom: 3rem;
  }

  .l-maniShop{
    width: 100%;
    line-height: 2;
  }

  .l-mainShop__title{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: block;
    text-align: center;
  }

  .l-mainShop__titleWord{
    text-align: center;
    line-height: 1.6;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    text-align: center;
  }

  .l-mainShop__seller{
    width: 100%;
    max-width: 540px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-mainShop__sellerItem{
    width: 66.6667%;
    display: flex;
    justify-content: center;
  }

  .sellerItem__box{
    width: 163px;
    float: left;
  }

  .sellerItem__boxTxt{
    padding: 6%;
    text-align: center;
    max-width: 100%;
  }

  .l-mainShop__gender{
    max-width: 540px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    height: 34.45px;
  }

  .l-mainShop__genderTitle{
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .p-genderTitle__man{
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    flex: 0 0 50%;
    text-align: center;
    align-items: center;
  }

  .titleMen {
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-size: 10px;
  }

  .p-genderTitle__women{
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    flex: 0 0 50%;
    text-align: center;
    align-items: center;
  }

  .titleWomen {
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-size: 10px;
  }
}

@media screen and (max-width: 767px){
  .c-headerList__item{
    display: inline-block;
  }

  .c-headerList__left{
    display: flex;
    font-size: 0;
  }

  .c-headerList__right{
    display: flex;
    font-size:0;
  }

  .l-main{
    margin-bottom: 3rem;
  }

  .l-maniShop{
    width: 100%;
    line-height: 2;
  }

  .l-mainShop__title{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: block;
    text-align: center;
  }

  .l-mainShop__titleWord{
    text-align: center;
    line-height: 1.6;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    text-align: center;
  }

  .l-mainShop__seller{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-mainShop__sellerItem{
    width: 66.6667%;
    display: flex;
    justify-content: center;
  }

  .sellerItem__box{
    width: 163px;
    float: left;
  }

  .sellerItem__boxTxt{
    padding: 6%;
    text-align: center;
    max-width: 100%;
  }

  .l-mainShop__gender{
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: block;
  }

  .l-mainShop__genderTitle{
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .p-genderTitle__man{
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    flex: 0 0 50%;
    text-align: center;
    align-items: center;
  }

  .titleMen {
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-size: 10px;
  }

  .p-genderTitle__women{
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    flex: 0 0 50%;
    text-align: center;
    align-items: center;
  }

  .titleWomen {
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-size: 10px;
  }

  .l-footer {
    background-color: #f8f8f8;
    width: 100%;
    overflow: hidden;
  }

  .l-footerBox {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    font-size: 0.8125rem;
    display: flex;
    width: 100%;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.25rem;
  }

  .l-footerBox__inner {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .p-footerList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1.25rem;
  }

  .p-footerList__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .p-footerService {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    width: 100%;
  }

  .p-footerService__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    margin: 0 0.5rem;
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: 1px solid #5c5c5c;
  }

  .p-footerService__about a {
    line-height: 1;
    margin-left: auto;
    width: auto;
    display: flex;
    align-items: center;
  }

  .p-footerService__listItem {
    color: #727272;
    display: none;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerCustomer {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    width: 100%;
  }

  .p-footerCustomer__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    margin: 0 0.5rem;
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: 1px solid #5c5c5c;
  }

  .p-footerCustomer__about a{
    line-height: 1;
    margin-left: auto;
    width: auto;
    display: flex;
    align-items: center;
  }

  .p-footerCustomer__listItem {
    color: #727272;
    display: none;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerAbout {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    width: 100%;
  }

  .p-footerAbout__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    margin: 0 0.5rem;
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: 1px solid #5c5c5c;
  }

  .p-footerAbout__info a {
    line-height: 1;
    margin-left: auto;
    width: auto;
    display: flex;
    align-items: center;
  }

  .p-footerAbout__listItem {
    color: #727272;
    display: none;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerSns {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 2rem 1.5rem;
  }

  .p-footerIcon {
    margin-top: 1.5rem;
    padding: 0 1rem;
    text-align: right;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .l-footerBottom {
    font-size: 0.6875rem;
    width: 100%;
    padding: 2.5rem 0;
    margin-left: 0;
    margin-right: 0;
  }

  .l-footerContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 540px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .l-footerLogo {
    line-height: 1;
    width: 100%;
    min-height: 1;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-footerLogo__item {
    width: auto;
    height: 1.5rem;
  }

  .l-footerGuide {
    line-height: 1;
    width: 100%;
    min-height: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .l-footerGuide__copyWrite {
    margin: 0;
    font-size: 0.6875rem;
    text-decoration: none;
  }

  .l-footerGuide__item {
    margin-left: 0.5rem;
    text-decoration: none;
    color: #191919;
  }

  .l-footerGuide__item::before {
    margin-right: 0.5rem;
    content: "|";
  }
}

@media screen and (min-width: 768px){
  .l-mainBar__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 720px;
  }

  .l-main{
    margin-bottom: 3rem;
  }

  .l-maniShop{
    width: 100%;
    line-height: 2;
  }

  .l-mainShop__title{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: block;
    text-align: center;
  }

  .l-mainShop__titleWord{
    text-align: center;
    line-height: 1.6;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    text-align: center;
  }

  .l-mainShop__seller{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-mainShop__sellerItem{
    width: 66.6667%;
    display: flex;
    justify-content: center;
  }

  .sellerItem__box{
    width: 163px;
    float: left;
  }

  .sellerItem__boxTxt{
    padding: 6%;
    text-align: center;
    max-width: 100%;
  }

  .l-mainShop__gender{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: block;
  }

  .l-mainShop__genderTitle{
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .p-genderTitle__man{
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    flex: 0 0 50%;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 34.45px;
  }

  .titleMen {
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-size: 10px;
    align-items: center;
  }

  .p-genderTitle__women{
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    flex: 0 0 50%;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 34.45px;
  }

  .titleWomen {
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-size: 10px;
    align-items: center;
  }

  .l-footer {
    background-color: #f8f8f8;
    width: 100%;
    overflow: hidden;
  }

  .l-footerBox {
    font-size: 0.8125rem;
    display: flex;
    width: 100%;
  }

  .l-footerBox__inner {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    font-size: 0.8125rem;
    display: flex;
    width: 100%;
    padding: 3rem 0;
  }

  .p-footerList {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p-footerList__inner {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    /* max-width: 75%; */
    padding-left: 15px;
    padding-right: 15px;
  }

  .p-footerService {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.33333%;
  }

  .p-footerService__about {
    color: #191919;
    font-size: 0.6875rem;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }

  .p-footerService__listItem {
    color: #727272;
    display: table;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerCustomer {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.33333%;
  }

  .p-footerCustomer__aboutItem {
    color: #191919;
    font-size: 0.6875rem;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }

  .p-footerCustomer__listItem {
    color: #727272;
    display: table;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerAbout {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.33333%;
  }

  .p-footerAbout__infoItem {
    color: #191919;
    font-size: 0.6875rem;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }

  .p-footerAbout__listItem {
    color: #727272;
    display: table;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerSns {
    max-width: 25%;
    flex: 0 0 25%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .p-footerIcon {
    margin-top: 2.5rem;
    text-align: right;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .l-footerBottom {
    font-size: 0.6875rem;
    width: 100%;
    padding: 2.5rem 0;
    margin-left: 0;
    margin-right: 0;
  }

  .l-footerContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 960px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
  }

  .l-footerLogo {
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-footerGuide {
    min-height: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
  }

  .l-footerGuide__copyWrite {
    margin-left: 1rem;
    text-decoration: none;
  }

  .l-footerGuide__item {
    margin-left: 1rem;
    text-decoration: none;
    color: #191919;
  }

  .l-footerGuide__item::before {
    margin-right: 1rem;
    content: "|";
  }
}

@media screen and (max-width: 991px){
  .p-mainProduct{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainProduct__box{
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
  }

  .p-mainProduct__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainProduct__image{
    position: relative;
  }

  .p-mainContent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainContent__box{
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
  }

  .p-mainContent__introduction{
    width: 240px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainContent__introductionTitle{
    color: #000000;
  }

  .p-mainCaption{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainCaption__box{
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
  }

  .p-mainCaption__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introductionTitle{
    color: #000000;
  }

  .p-mainCaption__introduce{
    width: 260px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px 0;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introduceTitle{
    color: #000000;
  }
}

@media screen and (min-width: 992px){
  .l-mainBar__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
  }

  .p-mainProduct{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainProduct__box{
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
  }

  .p-mainProduct__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainProduct__introductionTitle{
    color: #000000;
  }

  .p-mainProduct__image{
    width: 100%;
    position: relative;
  }

  .p-mainContent{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainContent__box{
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
  }

  .p-mainContent__introduction{
    width: 240px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainContent__introductionTitle{
    color: #000000;
  }

  .p-mainCaption{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainCaption__box{
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    position: relative;
  }

  .p-mainCaption__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px 0;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introductionTitle{
    color: #000000;
  }

  .p-mainCaption__introduce{
    width: 260px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px 0;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introduceTitle{
    color: #000000;
  }

  .l-footer {
    background-color: #f8f8f8;
    width: 100%;
    overflow: hidden;
  }

  .l-footerBox {
    font-size: 0.8125rem;
    display: flex;
    width: 100%;
  }

  .l-footerBox__inner {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    font-size: 0.8125rem;
    display: flex;
    width: 100%;
    padding: 3rem 0;
  }

  .p-footerList__inner {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p-footerList {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p-footerService {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.33333%;
  }

  .p-footerService__about {
    color: #191919;
    font-size: 0.6875rem;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }

  .p-footerService__listItem {
    color: #727272;
    display: table;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerCustomer {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.33333%;
  }

  .p-footerCustomer__aboutItem {
    color: #191919;
    font-size: 0.6875rem;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }

  .p-footerCustomer__listItem {
    color: #727272;
    display: table;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerAbout {
    line-height: 2;
    text-decoration: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.33333%;
  }

  .p-footerAbout__infoItem {
    color: #191919;
    font-size: 0.6875rem;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }

  .p-footerAbout__listItem {
    color: #727272;
    display: table;
    font-size: 0.875rem;
    line-height: 2.14;
    text-decoration: none;
  }

  .p-footerSns {
    max-width: 25%;
    flex: 0 0 25%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .p-footerIcon {
    margin-top: 2.5rem;
    text-align: right;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .l-footerBottom {
    font-size: 0.6875rem;
    width: 100%;
    padding: 2.5rem 0;
    margin-left: 0;
    margin-right: 0;
  }

  .l-footerContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 960px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
  }

  .l-footerLogo {
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-footerGuide {
    min-height: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
  }

  .l-footerGuide__copyWrite {
    margin-left: 1rem;
    text-decoration: none;
  }

  .l-footerGuide__item {
    margin-left: 1rem;
    text-decoration: none;
    color: #191919;
  }

  .l-footerGuide__item::before {
    margin-right: 1rem;
    content: "|";
  }
}

img{
  width: 100%;
}

div {
  display: block;
}

.icon-block-wrapper {
  cursor: pointer;
  height: 1.5rem;
  position: relative;
  vertical-align: bottom;
  width: 1.5rem;
}

.btn {
  cursor: pointer;
  font-size: 0.77rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(204, 36, 72, 0.01);
  border-color: rgba(204, 36, 72, 0);
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  line-height: 1.5;
}

.igSpacer {
  height: 24px;
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.span {
  color: #191919;
  font-family: Arial, sans-serif;
  font-size: 0.6875rem;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.slick-prev {
  left: 10px;
  z-index: 1;
  top: 50%;
}

.slick-prev:before {
  content: "＜";
}

.slick-next {
  right: 10px;
  z-index: 1;
  top: 50%;
}

.slick-next:before {
  content: "＞";
}

.l-header {
margin-left: auto;
margin-right: auto;
width: 100%;
background: rgba(255, 255, 255, 0.87)
}

.l-header__wrapper{
display: flex;
justify-content: space-between;
padding-top: 1rem;
padding-bottom: 1rem;
margin-left: 0;
margin-right: 0;
width: 100%;
line-height: 2;
}

.titleImage{
  width: 100%;
}

.c-headerList{
display: flex;
justify-content: space-between;
width: 100%;
}

.c-headerList__left{
display: flex;
font-size: xx-small;
text-align: left;
padding-left: 2rem;
padding-right: 2rem;
margin-top: 0;
width: 33.33333%;
}

.c-headerList__right{
display: flex;
font-size:xx-small;justify-content: end;
padding-left: 2rem;
padding-right: 2rem;
margin-top: 0;
width: 33.33333%;
}

.c-headerList__item{
line-height: 1.5;
position: relative;
text-align: center;
text-decoration: none;
display: inline-flex;
width: auto;
}

.c-headerList__itemMenu{
position: relative;
text-align: center;
line-height: 1.5;
font-size: xx-small;
text-size-adjust: auto;
display: flex;
flex-direction: column;
align-items: center;
margin-left: auto;
margin-right: 1rem;
}

.icon-title{
margin-top: 6px;
}

.menu-btn{
display: block;
width: 24px;
height: 24px;
position: relative;
z-index: 3;
border:none;
background-color: #fff;
}

.bar{
width: 100%;
height: 1px;
background-color: #000;
position: relative;
transition: ease .4s;
display: block;
}

.bar:nth-child(1){
top: 0;
}

.bar:nth-child(2){
margin: 7px 0;
}

.bar:nth-child(3){
top: 0;
}

.header__nav.active {
transform: translateX(0);
}

.menu.active .bar:nth-child(1) {
top: 5px;
transform: rotate(45deg);
}

.menu.active .bar:nth-child(2) {
opacity: 0;
}

.menu.active .bar:nth-child(3) {
top: -13px;
transform: rotate(-45deg);
}

.nav-content {
z-index: 900;
overflow: scroll;
width: 100%;
max-width: 30rem;
background: #fff;
color: #000;
position: fixed;
top: 0;
left: 0;
text-align: center;
transform: translateX(-100%);
transition:  transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu{
width: 100%;
width: 100%;
background-color:#fff;
}

.nav-header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.5rem;
border-bottom: 1px solid #F8F8F8;
transition-delay: 0.4s;
overflow-y: auto;
}

.nav-headerImage{
margin-right: auto;
line-height: 1;
height: 2rem;
width: auto;
}

.nav-headerClose{
text-align: center;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
text-decoration: none;
height: 1rem;
}

.nav-list{
list-style: none;
max-width: 30rem;
height: 100%;
width: 100%;
}

.nav-item{
display: flex;
justify-content: space-between;
align-items: center;
color: #000;
text-decoration: none;
padding: 1.5rem;
line-height: 1;
font-weight: 700;
font-size: 0.875rem;
text-align: left;
transition: opacity .6s ease;
line-height: 1;
cursor: pointer;
border-bottom: 1px solid #F8F8F8;
}

.nav-item a:hover {
opacity: 0.6;
}

.is-open .nav-content {
z-index: 999;
transform: translateX(0);
}

.overlay {
background: rgba(0,0,0,0.5);
height: 100vh;
}

.l-mainHero{
  width: 100%;
}