@media screen and (max-width: 576px){
  .l-header__wrapper{
    align-items: unset;
  }

  .c-headerList__item{
    vertical-align: top;
  }
}

@media screen and (max-width: 767px){
  .c-headerList__item{
    display: inline-block;
  }

  .c-headerList__left{
    display: flex;
    font-size: 0;
  }

  .c-headerList__right{
    display: flex;
    font-size:0;
  }
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.87)
}

.l-header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.c-headerList{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.c-headerList__left{
  display: flex;
  font-size: xx-small;
  text-align: left;
}

.c-headerList__right{
  display: flex;
  font-size:xx-small;
}

.c-headerList__item{
  line-height: 1.5;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 33.33333%;
}

.c-headerList__itemMenu{
  position: relative;
  text-align: center;
  line-height: 1.5;
  text-align: center;
  font-size: xx-small;
  text-size-adjust: auto;
  display: block;
}

.icon-title{
  margin-top: 6px;
}

.menu-btn{
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 3;
  border:none;
}

.bar{
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.bar:nth-child(1){
  top: 0;
}

.bar:nth-child(2){
  margin: 7px 0;
}

.bar:nth-child(3){
  top: 0;
}

.header__nav.active {
  transform: translateX(0);
}

.menu.active .bar:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.menu.active .bar:nth-child(2) {
  opacity: 0;
}

.menu.active .bar:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}

.nav-content {
  z-index: 900;
  overflow: scroll;
  width: 50%;
  height: 100%;
  background: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  transform: translateX(-100%);
  transition:  transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu{
  width: 100%;
  height: 100%;
  background-color:#fff;
}

.nav-list{
  list-style: none;
}

.nav-item{
  display: block;
  color: #000;
  text-decoration: none;
  padding: 30px 0;
  transition: opacity .6s ease;
}

.nav-item a:hover {
  opacity: 0.6;
}

.is-open {
    overflow: hidden;
}

.is-open #toggle-box > span {
    background: #fff;
}

.is-open #toggle-box > span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}

.is-open #toggle-box > span:nth-child(2) {
  width: 0;
}

.is-open #toggle-box > span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg) translatey(-50%);
}

.is-open .nav-content {
  z-index: 999;
  transform: translateX(0);
}

.overlay {
  background: rgba(0,0,0,0.5);
  height: 100vh;
}