@media screen and (max-width: 456px) {
  .l-header__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    line-height: 2;
  }

  .c-headerList__left{
    display: flex;
    text-align: left;
    margin-top: 0;
    width: 33.33333%;
  }

  .c-headerList__right{
    display: flex;
    font-size:xx-small;justify-content: end;
    margin-top: 0;
    width: 33.33333%;
  }

  .c-headerList__itemMenu{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 576px){
  .l-header__wrapper{
    align-items: unset;
  }

  .c-headerList__item{
    vertical-align: top;
  }

  .icon-title{
    display: none;
  }
}

@media screen and (min-width: 457px){
  .l-header {
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.87)
  }

  .l-header__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    line-height: 2;
  }

  .titleItem-image{
      cursor: pointer;
  }

  .c-headerList{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .c-headerList__left{
    display: flex;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
    width: 33.33333%;
  }

  .c-headerList__right{
    display: flex;
    font-size:xx-small;justify-content: end;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
    width: 33.33333%;
  }

  .c-headerList__item{
    line-height: 1.5;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
  }

  .c-headerList__itemMenu{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .icon-title{
    margin-top: 6px;
    text-decoration: none;
    color: #191919;
    font-size: xx-small;
  }
}

.menu-btn{
display: block;
width: 32px;
height: 24px;
position: relative;
z-index: 3;
border:none;
background-color: #fff;
}

.titleItem{
  width: 32px;
  height: auto;
}

.bar{
width: 100%;
height: 1px;
background-color: #000;
position: relative;
transition: ease .4s;
display: block;
}

.bar:nth-child(1){
top: 0;
}

.bar:nth-child(2){
margin: 7px 0;
}

.bar:nth-child(3){
top: 0;
}

.header__nav.active {
transform: translateX(0);
}

.menu.active .bar:nth-child(1) {
top: 5px;
transform: rotate(45deg);
}

.menu.active .bar:nth-child(2) {
opacity: 0;
}

.menu.active .bar:nth-child(3) {
top: -13px;
transform: rotate(-45deg);
}

.nav-content {
z-index: 900;
overflow: scroll;
width: 100%;
height: 100%;
max-width: 30rem;
background: #fff;
color: #000;
position: fixed;
top: 0;
left: 0;
text-align: center;
transform: translateX(-100%);
transition:  transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu{
width: 100%;
height: 100%;
background-color:#fff;
}

.nav-header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.5rem;
border-bottom: 1px solid #F8F8F8;
transition-delay: 0.4s;
overflow-y: auto;
}

.nav-headerImage{
margin-right: auto;
line-height: 1;
height: 2rem;
width: auto;
}

.nav-headerClose{
text-align: center;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
text-decoration: none;
height: 1rem;
}

.nav-list{
list-style: none;
max-width: 30rem;
max-height: 647px;
height: 100%;
width: 100%;
}

.nav-item{
display: flex;
justify-content: space-between;
align-items: center;
color: #000;
text-decoration: none;
padding: 2rem;
line-height: 1;
font-weight: 700;
font-size: 0.875rem;
text-align: left;
transition: opacity .6s ease;
line-height: 1;
cursor: pointer;
border-bottom: 1px solid #F8F8F8;
}

.nav-item a:hover {
opacity: 0.6;
}

.is-open .nav-content {
z-index: 999;
transform: translateX(0);
}

.overlay {
background: rgba(0,0,0,0.5);
height: 100vh;
}