@media screen and (min-width: 576px){
  .l-mainBar__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 540px;
  }

  .l-mainBar__download{
    width: 100%;
    max-width: 50%;
  }

  .l-mainBar__news{
    width: 100%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px){
  .l-mainBar__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 720px;
  }
}

@media screen and (min-width: 992px){
  .l-mainBar__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
  }
}

.l-mainBar{
  background-color: #000000;
  display: block;
}

.l-mainBar__box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.l-mainBar__download{
  width: 100%;
  max-width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}

.l-mainBar__news{
  width: 100%;
  max-width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}