@media screen and (max-width: 991px){
  .p-mainProduct{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainProduct__box{
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
  }

  .p-mainProduct__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainProduct__image{
    position: relative;
  }
}

@media screen and (min-width: 992px){
  .p-mainProduct{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainProduct__box{
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
  }

  .p-mainProduct__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainProduct__introductionTitle{
    color: #000000;
  }

  .p-mainProduct__image{
    width: 100%;
    position: relative;
  }
}