@media screen and (max-width: 991px){
  .p-mainCaption{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .p-mainCaption__box{
    position: relative;
  }

  .p-mainCaption__imageLeft{
    width: 100%;
    height: 500px;
    background-image: url(./modules/adam-niescioruk--_LJY51KrmQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .p-mainCaption__imageCenter{
    width: 100%;
    height: 500px;
    background-image: url(./modules/mohammed-hassan-fdCvrdYUJsY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .p-mainCaption__imageRight{
    width: 100%;
    height: 500px;
    background-image: url(./modules/ryoji-iwata-vWfKaO0k9pc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .p-mainCaption__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introductionTitle{
    color: #000000;
  }

  .p-mainCaption__introduce{
    width: 260px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px 0;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introduceTitle{
    color: #000000;
  }
}

@media screen and (min-width: 992px){
  .p-mainCaption{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainCaption__box{
    max-width: 33.33333%;
    position: relative;
  }

  .p-mainCaption__imageLeft{
    width: 100%;
    height: 350px;
    background-image: url(./modules/adam-niescioruk--_LJY51KrmQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .p-mainCaption__imageCenter{
    width: 100%;
    height: 350px;
    background-image: url(./modules/mohammed-hassan-fdCvrdYUJsY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .p-mainCaption__imageRight{
    width: 100%;
    height: 350px;
    background-image: url(./modules/ryoji-iwata-vWfKaO0k9pc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .p-mainCaption__introduction{
    width: 120px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px 0;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introductionTitle{
    color: #000000;
  }

  .p-mainCaption__introduce{
    width: 260px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px 0;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainCaption__introduceTitle{
    color: #000000;
  }
}