@media screen and (max-width: 991px){
  .p-mainContent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainContent__box{
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
  }

  .p-mainContent__introduction{
    width: 240px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainContent__introductionTitle{
    color: #000000;
  }
}
@media screen and (min-width: 992px){
  .p-mainContent{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainContent__box{
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
  }

  .p-mainContent__introduction{
    width: 240px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 8px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  .p-mainContent__introductionTitle{
    color: #000000;
  }
}