.l-mainBar{
  background-color: #000000;
  display: block;
}

.l-mainBar__box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
}

.l-mainBar__downroad{
  max-width: 50%;
  flex: 0 0 50%;
  display: block;
  text-align: -webkit-center;
}

.l-mainBar__news{
  max-width: 50%;
  flex: 0 0 50%;
  display: block;
  text-align: -webkit-center;
}