.mb-120 {
  margin-bottom: 120px;
}

.mb-56 {
  margin-bottom: 56px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.left-40vw {
  left: 40vw;
}

.right-40vw {
  right: 40vw;
}

.transition-delay-500 {
  transition-delay: 500ms;
}
